<?xml version="1.0" encoding="UTF-8"?>
<widget id="uk.co.mearsgroup.john.atkins.mysenchatutorial2" version="1.0" width="320" height="480" start="index.html">
<title>MyLandlordTest1</title>
<description>MyLandlord Test 1</description>
<author name="" email="" url=""></author>
<license></license>
</widget>
